<div class="footer mt-3">
    <hr/>
    <div class="container">
        <div class="row pt-3">
            <div class="col-lg-4 col-sm-12">
                <h5 class="text-warning text-center"><b>About</b></h5>
                <p class="text-light">Our platform offers the ability to compare prices of products across various e-commerce websites like
                    <b>Amazon, Flipkart</b> etc. which help you to purchase that product on a cheaper price.</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h5 class="text-warning text-center"><b>Further Information</b></h5>
                <ul class="list-unstyled text-light">
                    <li>Terms and Conditions</li>
                    <li>Privacy and policy</li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h5 class="text-warning text-center"><b>Contact</b></h5>
                <ul class="list-unstyled text-light">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel:+917542895855">+254 704 912 322</a>
                    </li>
                    <li>
                        <i class="fas fa-envelope-square"></i>
                        <a href="mailto:rancho.kartar@gmail.com">george.kimaru@gmail.com</a>
                    </li>
                    <li>
                        <i class="fab fa-linkedin"></i>
                        <a href="https://www.linkedin.com/in/kimarugeorge/" target="blank">georgekimaru</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-1  text-warning fs-6">
        <p> Copyright © 2023: George Kimaru<br/>All Right Reserved.</p>
    </div>

</div>